
#tblAccounts { width: 90em; }

.col_id { width: 5em; }
.col_name { width: auto; }
.col_role { width: 30em; }
.col_active { width: 5em; }
.col_options { width: 20em; }

.col_options .btnChange { width: 5em; }